/**
* @file 
* @date 2022-09-08
* @author zhuxiaojiao
* @lastModify zhuxiaojiao 2022-09-08
*/


/* <------------------------------------ **** CONSTANT IMPORT START **** ------------------------------------ */


/** Import all the reference constant after this line */


/* <------------------------------------ **** CONSTANT IMPORT END **** ------------------------------------ */


/* <------------------------------------ **** SECTION1 MIXIN START **** ------------------------------------ */


/** The demo mixin is ..........*/

@mixin demo {}


/* <------------------------------------ **** SECTION1 MIXIN END **** ------------------------------------ */


/* <--------------------------- * SECTION1 * --------------------------- */

.drag_wrap {
    display: flex;
    flex-wrap: wrap;
    width: 40rem;
    li {
        width: 10rem;
        height: 10rem;
        background-color: pink;
        list-style: none;
        margin-left: 2rem;
        margin-bottom: 2rem;
        cursor: pointer;
        user-select: none;
        text-align: center;
        line-height: 10rem;
    }
}


/* <--------------------------- * SECTION1 * --------------------------- */